<div class="row">
	<div class="col-md-12">
		<h4>Good Commits versus bad commits <span class="badge">{{ (commits.good|length + commits.bad|length) }}</span></h4>
		<div class="progress totalsHeader">
			{# good number, total, good number/total #} 
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ commits.good|length }}" aria-valuemin="0" aria-valuemax="{{ commits.good|length + commits.bad|length }}?>" style="width: {{ ((commits.good|length/(commits.good|length+commits.bad|length))*100)|round }}%;">
				{{ commits.good|length }}
			</div>
			{# bad number, total, bad number/total #} 
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ commits.bad|length }}" aria-valuemin="0" aria-valuemax="{{ commits.bad|length }}" style="width: {{ ((commits.bad|length / (commits.good|length + commits.bad|length )) * 100)|round}}%;">
				{{ commits.bad|length }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<ul class="list-group details">
				{# Do the same as above for each author#}
				{% for name, subcommits in commits.names %}
				<li class="list-group-item">
					<h4> {{ name }} - <span class="badge">{{subcommits.good|length + subcommits.bad|length }}</span></h4>
					<div class="progress totalsHeader">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ subcommits.good|length }}" aria-valuemin="0" aria-valuemax="{{ subcommits.good|length + subcommits.bad|length }}" style="width: {{ ((subcommits.good|length / (subcommits.good|length + subcommits.bad|length)) * 100)|round }}%;">
							{{ subcommits.good|length }}
						</div>
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ subcommits.bad|length }}" aria-valuemin="0" aria-valuemax="{{ subcommits.good|length + subcommits.bad|length }}" style="width: {{ ((subcommits.bad|length / (subcommits.good|length + subcommits.bad|length)) * 100)|round }}%;">
							{{ subcommits.bad|length }}
						</div>
					</div>
					<div class='row individual-results'>
					{% if subcommits.good %}
						{# if there are bad commits only take up half the room #} 
						<div class="col-md-{{ (subcommits.bad) ? 6 : 12 }}">
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Good Commits</h3>
								</div>
								<div class="panel-body">
									{% for commit in subcommits.good %}
										{{ commit }}
									{% endfor %}
								</div>
							</div>
						</div>
						{% endif %} 
						{% if subcommits.bad %}
						{# if there are good commits only take up half the room #} 
						<div class="col-md-{{ subcommits.good ? 6 : 12 }}">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Bad Commits</h3>
								</div>
								<div class="panel-body">
									{% for commit in subcommits.bad %}
										{{ commit }}
									{% endfor %}
								</div>
							</div>
						</div>
						{% endif %} ?>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="row">
<div class="col-md-6">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Good Commits</h3>
		</div>
		<div class="panel-body">
			{% for commit in commits.good %}
				{{ commit }}
			{% endfor %}
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">Bad Commits</h3>
		</div>
		<div class="panel-body">
			{% for commit in commits.bad %}
				{{commit}}
			{% endfor %}
		</div>
	</div>
</div>